#!/usr/bin/env bash

sketchybar --add event aerospace_workspace_change

for sid in 01-dev 02-bench 03-hold; do
    sketchybar --add item space_compact."$sid" center \
        --subscribe space_compact."$sid" aerospace_workspace_change \
        --set space_compact."$sid" \
        background.color=0x44ffffff \
        background.corner_radius=5 \
        background.height=20 \
        background.drawing=off \
        label.font.size=14.0 \
        icon.drawing=off \
        label="$sid" \
        click_script="aerospace workspace $sid" \
        script="$HOME/.config/sketchybar/plugins/aerospacer.sh $sid"
done
